$p-softred: hsl(7, 99%, 70%);
$p-yellow: hsl(51, 100%, 49%);
$p-darkdescyan: hsl(167, 40%, 24%);
$p-darkblue: hsl(198, 62%, 26%);
$p-darkmocyan: hsl(168, 34%, 41%);

$n-vdarkdesblue: hsl(212, 27%, 19%);
$n-vedarkgraybue: hsl(213, 9%, 39%);
$n-darkgrayblue: hsl(232, 10%, 55%);
$n-grayishblue: hsl(210, 4%, 67%);
$n-white: hsl(0, 0%, 100%);
